<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkkLFVQV6rv0H3oSsd_79fqQyq9R97Wfk</string>
	<key>GCM_SENDER_ID</key>
	<string>61671128409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danam.Poker-manager</string>
	<key>PROJECT_ID</key>
	<string>hold-em-home-game-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>hold-em-home-game-manager.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61671128409:ios:5960bf6531d549af8e6048</string>
</dict>
</plist>